/*==========================================================================
                        GLOBAL STYLES
========================================================================*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primaryColor: #00008b;
  --secondaryColor: #ffa500;
  --greyColor: #898989;
  --successColor: #27ae60;
  --errorColor: #ef2626;
  --warningColor: #fdbe00;
  --infoColor: #0a65e0;
}

@font-face {
  font-family: Montserrat;
  src: url(../Montserrat-Regular.ttf);
}

html,
body {
  font-size: 10px;
  background: #f9f9f9;
}

.container {
  width: 95%;
  max-width: 1440px;
  margin: 20px auto;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.btn {
  background: transparent;
  color: #333;
  border: none;
  outline: none;
  padding: 13px 30px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 15px;
}

.btn:hover {
  cursor: pointer;
}

.btn img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.btn-orange {
  color: var(--primaryColor);
  background: var(--secondaryColor);
}

.btn-purple {
  color: var(--primaryColor);
  background: var(--greyColor);
}

.btn-white {
  border: 2px solid #ccc;
  color: #ccc;
  font-size: 18px;
}

/*==========================================================================
                        DASHBOARD STYLES
========================================================================*/
.main-container .main-inner {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0;
  background: #f9f9f9;
  box-shadow: 0 2px 5px 0 rgba(121, 121, 121, 0.16);
}

/*==================================================
            LEFT SIDEBAR SECTION
=================================================*/
.main-container .main-inner .left-sidebar {
  padding: 60px 30px;
  background: #fff;
}

.main-container .main-inner .left-sidebar .logo {
  width: 120px;
  height: 50px;
  margin-bottom: 80px;
}

.main-container .main-inner .left-sidebar nav ul li {
  margin-bottom: 40px;
  padding: 15px 20px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.main-container .main-inner .left-sidebar nav ul li:hover,
.main-container .main-inner .left-sidebar nav ul .active {
  color: var(--primaryColor);
  background: var(--secondaryColor);
}

.main-container .main-inner .left-sidebar nav ul li:hover a,
.main-container .main-inner .left-sidebar nav ul .active a,
.main-container .main-inner .left-sidebar nav ul li:hover img {
  color: var(--primaryColor);
}

.main-container .main-inner .left-sidebar nav ul li a {
  display: flex;
  align-items: center;
  color: var(--greyColor);
  font-size: 1.8rem;
}

.main-container .main-inner .left-sidebar nav ul li a img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/*==================================================
            DASHBOARD CENTER SECTION
==================================================*/
.center {
  padding: 60px 30px;
}

.center h1 {
  font-size: 4rem;
}

.center .dashboard-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.center .dashboard-heading img {
  max-width: 150px;
}

/*==================================================
            DASHBOARD CALENDAR SECTION
==================================================*/
.center .dashboard-calendar {
  padding: 30px 30px 50px;
  background-color: #00008b;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 50px;
}

.center .dashboard-calendar h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 30px auto 15px;
  width: 60%;
  padding: 5px 5px;
  border-radius: 50%;
  background: var(--secondaryColor);
}

.center .dashboard-calendar p {
  font-size: 14px;
}

.center .dashboard-calendar .days {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.center .dashboard-calendar .days .day {
  text-align: center;
}

.center .dashboard-calendar .bars {
  padding: 10px;
}

.center .dashboard-calendar .bars .bar {
  width: 100%;
  height: 2px;
  background: #fff;
  margin-bottom: 5px;
}

/*==================================================
            DASHBOARD PRODUCTIVITY SECTION
==================================================*/
.dashboard-productivity {
  margin-bottom: 50px;
}

.dashboard-productivity h3 {
  font-size: 2rem;
}

.dashboard-productivity .dashboard-productivity-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dashboard-productivity .dashboard-productivity-heading .heading-btns,
.dashboard-productivity .dashboard-productivity-content .content-btns {
  display: flex;
  align-items: center;
}

.dashboard-productivity .dashboard-productivity-heading .heading-btns button {
  margin: 0 5px;
}

.dashboard-productivity .dashboard-productivity-content {
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0 3px 5px 0 rgba(121, 121, 121, 0.016);
  border-radius: 5px;
}

.dashboard-productivity .dashboard-productivity-content .productivity-icons {
  margin-bottom: 50px;
}

.dashboard-productivity .dashboard-productivity-content .productivity-graph {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  position: relative;
}

.dashboard-productivity
  .dashboard-productivity-content
  .productivity-graph
  .graph-div {
  text-align: center;
  height: 200px;
  max-height: 100%;
}

.dashboard-productivity
  .dashboard-productivity-content
  .productivity-graph
  .graph-div
  .graph {
  height: 90%;
  background: #831fe0;
  box-shadow: 0 3px 5px 0 rgba(121, 121, 121, 0.16);
}

.dashboard-productivity
  .dashboard-productivity-content
  .productivity-graph
  .graph-div
  .blue {
  background: var(--primaryColor);
}

.dashboard-productivity
  .dashboard-productivity-content
  .productivity-graph
  .graph-div
  .graph-1 {
  margin-top: 100px;
  height: 40%;
}

.dashboard-productivity
  .dashboard-productivity-content
  .productivity-graph
  .graph-div
  .graph-2 {
  margin-top: 80px;
  height: 50%;
}

.dashboard-productivity
  .dashboard-productivity-content
  .productivity-graph
  .graph-div
  .graph-3 {
  margin-top: 60px;
  height: 60%;
}

.dashboard-productivity
  .dashboard-productivity-content
  .productivity-graph
  .graph-div
  .graph-4 {
  margin-top: 40px;
  height: 70%;
}

.dashboard-productivity
  .dashboard-productivity-content
  .productivity-graph
  .graph-div
  .graph-5 {
  margin-top: 20px;
  height: 80%;
}

.dashboard-productivity
  .dashboard-productivity-content
  .productivity-graph
  .graph-div
  small {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  font-weight: 500;
}

/*==================================================
            PROJECT SUMMARY SECTION
==================================================*/
.dashboard-project-summary img {
  width: 20px;
  height: 20px;
}

.dashboard-project-summary h2 {
  font-size: 2.5rem;
}

.dashboard-project-summary h3 {
  font-size: 2rem;
}

.dashboard-project-summary .project-summary-heading,
.dashboard-project-summary .project-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.dashboard-project-summary .complete-rate,
.dashboard-project-summary .complete-rate .rates {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-project-summary .complete-rate .complete {
  font-size: 16px;
  font-weight: 500;
  color: var(--greyColor);
}

.dashboard-project-summary .project-summary-content {
  padding: 30px 20px;
  background: #fff;
}

.dashboard-project-summary .project-summary-content .projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.dashboard-project-summary
  .project-summary-content
  .projects-grid
  .project
  img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.dashboard-project-summary .project-summary-content .projects-grid .project {
  padding: 30px 15px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-project-summary .project-summary-content .projects-grid .active {
  background: var(--primaryColor);
  color: #fff;
}

.dashboard-project-summary .project-summary-content .projects-grid .project p {
  font-size: 12px;
  margin-bottom: 5px;
}

/*==================================================
            RIGHT SIDEBAR SECTION
==================================================*/
.right-sidebar {
  padding: 60px 20px;
}

.right-sidebar .right-sidebar-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.right-sidebar .right-sidebar-heading img {
  width: 30px;
  height: 30px;
}

.right-sidebar .right-sidebar-heading h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.right-sidebar .right-sidebar-heading p {
  font-size: 13px;
  font-weight: 500;
}

.right-sidebar .right-sidebar-heading .heading-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-sidebar .right-sidebar-heading .heading-left img:first-child {
  margin-right: 30px;
}

.right-sidebar .right-sidebar-heading .heading-right {
  display: flex;
  align-items: center;
}

.right-sidebar .right-sidebar-heading .heading-right img {
  margin-right: 10px;
}

/*==================================================
                TASK SECTION
==================================================*/
.task-section {
  padding: 20px;
  background: #fff;
}

.task-section .create-task-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-section .create-task-heading h3 {
  font-size: 17px;
  font-weight: 600;
}

.task-section .create-task-heading img {
  width: 30px;
  height: 30px;
}

.task-section .create-task-input {
  margin: 20px 0 50px;
}

.task-section .create-task-input img {
  width: 25px;
  height: 25px;
}

.task-section .create-task-input label {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.task-section .create-task-input .task-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-bottom: 3px solid #ccc;
}

.task-section .create-task-input .task-input input {
  flex-basis: 90%;
  border: none;
  outline: none;
  height: 100%;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
}

.task-section .create-task-input .task-input img {
  flex-basis: 10%;
}

.task-section .task-options {
  margin-bottom: 50px;
}

.task-section .task-options ul {
  display: flex;
  flex-wrap: wrap;
}

.task-section .task-options ul li {
  margin: 3px;
}

.task-section .task-details .others {
  width: 30px;
  height: 30px;
}

.task-section .task-details .friends {
  max-width: 150px;
  margin: 0 10px;
}

.task-section .task-details h3 {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 30px;
}

.task-section .task-details p {
  font-size: 13px;
  margin-left: 10px;
}

.task-section .task-details .task-detail .btn {
  padding: 5px 15px;
  width: inherit;
  align-self: center;
}

.task-section .task-details .task-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-section .task-details .btn-big {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

/*==================================================
                SCHEDULE SECTION
==================================================*/
.schedule {
  margin-top: 50px;
}

.schedule .others {
  width: 30px;
  height: 30px;
}

.schedule .friends {
  max-width: 150px;
}

.schedule h3 {
  font-size: 2rem;
}

.schedule h4 {
  font-size: 1.5rem;
  margin: 20px 0 15px;
}

.schedule p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #555;
  margin-left: 10px;
}

.schedule small {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}

.schedule .schedule-flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.schedule .schedule-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.schedule .schedule-content {
  background: var(--primaryColor);
  padding-left: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(121, 121, 121, 0.016);
}

.schedule .schedule-content .schedule-content-inner {
  background: #fff;
  border-radius: 5px;
  padding: 20px 10px;
  width: 100%;
}
